@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
  scroll-behavior: smooth;
  cursor: crosshair;
}
body{
  background: linear-gradient(180deg, #566C5C 0%, #3B4159 100%);
  background-attachment: fixed;
  height: 100%;
}
b{
  color: lightgreen;
  font-weight: normal;
}
p{
  color: white;
  font-family: 'Verdana', monospace;
  text-indent: 0.5cm;
  text-align: justify;
}
ol li{
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Verdana', monospace;
  text-indent: 0.2cm;
  line-height: 20px;
}
iframe{
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  transition: box-shadow 0.8s;
}
iframe:hover{
  box-shadow: 0px 0px 5px white;
}
.downloadLink{
  font-weight: bold;
}
.alert{
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  transition: box-shadow 0.8s;
}
.alert:hover{
  box-shadow: 0px 0px 5px white;
}
.author{
  color: rgba(255, 255, 255, 0.5);
}
.titleImg{
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.50));
}
.kep{
  box-shadow: 0px 0px 10px black;
  transition: box-shadow 0.8s;
  border-radius: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.kepek{
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  transition: box-shadow 0.8s;
}
.kepek:hover{
  box-shadow: 0px 0px 10px white;
}
.logo{
  width: 50px;
  margin-left: 20px;
  margin-top: 5px;
}
.btn-info{
  color: white;
  background-color: #097FB1;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
}
.btn-info:hover{
  color: white;
  background-color: #097FB990;
}

@media screen and (max-width: 576px) {
  p{
    font-size: 10pt;
  }
}
